@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* base styles */
/* 
- classes separadas por hifen, minusculo , eg: .footer-item
- evitar usar seletor de tags div {} 
- fazer estilos baseado na ordem de elementos na pagina
- usar valores de pixel fechados (multiplos de 5)
- espaco depois da classe e antes do {

*/

* {
    font-family: "Quicksand";
    color: #333;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #f1356d;
}

.Home {
  background-color: white;
  border-radius: 20px;
}

.siteIcon{
    max-height: 100px;
}
.siteTitle  {
  color : #f1356d ;
  padding : 4px;
  background-color: white;
  border-radius: 28px;
  border-color: #f1356d;
  border: 4px  solid;
}
.Button:hover {
    position: relative;
    top : 4px;
}


.navbar {
    
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #f2f2f2;
    border-left:  1px solid #f2f2f2 ;
    border-right: 1px solid #f2f2f2 ;
    background-color: white;
}

.Button{
  color : white;
  background-color: #f1356d;
  border-radius : 28px;
  
}


.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 5px;
    
}


.loadingText{
  font-weight: bold;
  text-align: center;
  color: #f1356d;
  padding: 5px;
  border-radius : 28px;
  border-color: #f1356d;
}

.titleAdd{
  background-color: white;
  border-radius: 26px;
  color : #f1356d;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

.PokemonForm{
   background-color: white;
   border-radius: 25px;
   padding: 15px;
}
.formInputs{
  align-content: center;
  border:dashed #f1356d ;
  border-radius: 25px;
}
.PokemonFormHeaders{
  color :#f1356d;
}

.SubmitForm{
   align-content: center;
}
 
.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}
.pokemon-detail{
  background-color: white;
  text-align: center;
}
.pokemon-preview {
    box-shadow: 0 4px 8px 0 #f1356d;
    display: inline-block;
    background: white;
    margin: 16px;
    text-align: center;
    align-content: center;
    width: 150px;
    transition: 0.3s;
    border-radius: 16px;
}
 .pokePhoto{
   width: 60%;
   height: auto;
 }
.pokemon-preview:hover {
    box-shadow: 0 8px 16px 0 #f1356d;
    transform: scale(1.3); 
    
}

.container {
    padding: 2px 10px;
}

.typeHeader{
    text-align: left;
    padding-left: 10px;
    padding-top:10px ;
    border-bottom: 1px solid grey;
}

.pokemonTitle{
    border: 2px solid #f1356d;
    border-radius: 20px;
    font-size: medium;
    background-color: #f1356d;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    
}


.pokeType{
    max-width: 100px;
    margin: 10px auto;
}

.poke-type__item {
    max-width: 65px;
    padding: 3px;
    margin: 10px auto;
    border-radius: 20px;
    font-weight: bold;
}

.poke-type__water {
    background-color: rgb(91, 71, 181);
    color:white;
}

.poke-type__fire {
    background-color: crimson;
    color: white;
}

.poke-type__poison {
  background-color: purple;
  color: white;
}

.poke-type__dragon {
  background-color: darkblue;
  color: white;
}

.poke-type__rock {
  background-color: gray;
  color: white;
}


.poke-type__ground {
  background-color: brown;
  color: white;
}

.poke-type__grass {
  background-color: green;
  color: white;
}

.poke-type__fairy {
  background-color: pink;
  color: white;
}

.poke-type__fighting {
  background-color: rgb(216, 96, 4);
  color: white;
}

.poke-type__steel {
  background-color: slategrey;
  color: white;
}

.poke-type__ice {
  background-color: rgb(12, 165, 221);
  color: white;
}

.poke-type__ghost {
  background-color: rgb(14, 3, 36);
  color: white;
}

.poke-type__dark {
    background-color: rgb(82, 33, 82);
    color: white;
}

.poke-type__normal {
    background-color: rgb(133, 133, 64);
   color: black; 
}

.poke-type__flying {
   background-color: skyblue;
   color: white;
}

.poke-type__psychic {
    background-color: rgb(202, 53, 53);
    color: white;
}

.poke-type__electric {
    background-color: yellow;
    color: black;
}

.poke-type__bug {
    background-color: yellowgreen;
    color: black;
}

.poke-type__default {        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
     user-select: none;
     color: white;
}
.warning{
  background-color: yellow;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  
  .siteIcon{
      display: flex;
      position: static;
 
  }

  .siteTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .a Button{
        display: flex;
        flex-wrap: initial;
  
  }


  .navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
  }
  
  .pokemon-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }
}