@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* base styles */
/* 
- classes separadas por hifen, minusculo , eg: .footer-item
- evitar usar seletor de tags div {} 
- fazer estilos baseado na ordem de elementos na pagina
- usar valores de pixel fechados (multiplos de 5)
- espaco depois da classe e antes do {

*/

* {
    font-family: "Quicksand";
    color: #333;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #f1356d;
}


.Home {
  background-color: white;
  border-radius: 20px;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}




.loadingText{
  font-weight: bold;
  text-align: center;
  color: #f1356d;
  padding: 5px;
  border-radius : 28px;
  border-color: #f1356d;
}



.warning{
  background-color: yellow;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  
  .siteIcon{
      display: flex;
      position: static;
 
  }

  .siteTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .a Button{
        display: flex;
        flex-wrap: initial;
  
  }


  .navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
  }
  
  .pokemon-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }
}